
@{
}

<div class="table-responsive">
    <table class="table align-middle">
        <tr>
            <td colspan="2" align="center">Contact Us</td>
            
        </tr>
        </>
        <tr>
            <td>Address</td>
            <td>28A Linwood Avenue, Mount Albert, Auckland</td>
            
        </tr>
        <tr class="align-bottom">
            <td>Email</td>
            <td>guta820ess.ais.ac.nz</td>
        </tr>
        <tr class="align-bottom">
            <td>Phone</td>
            <td>123456789</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table align-middle">
        <tr>
            <td align="center" colspan="2">About Me</td>

        </tr>
        </>
        <tr class="align-bottom">
            <td>Developer Info</td>
            <td>Hello everyone, I am Tao Guozhen, student number 09207252, and I am studying PGDIT at AIS. This demo is my assignment1 of SOFT703.</td>

        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table align-middle">
        <tr>
            <td colspan="2" align="center">Other Info</td>

        </tr>
        </>
        <tr class="align-bottom">
            <td>AIS</td>
            <td>Established in 1990, Auckland Institute of Studies is one of New Zealand’s largest independent degree-granting institutions.</td>

        </tr>
        
    </table>
</div>
