@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h1 class="display-4">Introduction</h1>
    <p>New Zealand is a country with beautiful scenery, and its rich geographical resources always attract countless people. This website aims to provide a fishing spot information website open to fishing enthusiasts, and provide you with various information convenient for fishing. After <a asp-area="Identity" asp-page="/Account/Register">registering</a> and <a asp-area="Identity" asp-page="/Account/Login">logging in</a>, you can see information about fishing spots.</p>
</div>
